<!DOCTYPE html>
<html lang="en">
<head>
    <title>Results</title>
</head>
<body>

    <h2>Submitted Information</h2>
    <p>Name: <%= result.name %></p>
    <p>Location: <%= result.location %></p>
    <p>Language: <%= result.language %></p>
    <p>Comment: <%= result.comment %></p>

</body>
</html>